[Desktop Entry]
X-SnapInstanceName=clion
Version=1.0
Type=Application
Name=CLion
Icon=clion
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/clion_clion.desktop /snap/bin/clion %f
Comment=A cross-platform IDE for C and C++
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
